html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f2eee3;
}
.button{
    background-color: grey;
    border: grey;
    margin-left: 33%;
}
.search-engine h2{
    text-align: center;
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
}

.search-engine{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgb(0,0,0,0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0,0,0,0.5);
    border-radius: 10px;
}

.search-engine .user-box{
    position: relative;
}

.search-engine .user-box input{
    width: 100%;
    padding: 10px 0;
    margin-top: 10%;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.search-engine .user-box input::placeholder{
    color: rgb(156, 154, 154);
    font-weight: 100;
    text-align: center;
    
}

.search-engine .user-box label{
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.search-engine .user-box input:focus ~ label,
.search-engine .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.search-engine form button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.search-engine button:hover{
    background: #03e9f4;
    color: rgb(12, 12, 12);
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.search-engine button span{
    position: absolute;
    display: block;
}

.search-engine button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn 1s linear infinite ;
}

@keyframes btn{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}

.search-engine button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn2 1s linear infinite ;
    animation-delay: 0.25s;
}

@keyframes btn2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}

.search-engine button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn3 1s linear infinite ;
    animation-delay: 0.5s;
}

@keyframes btn3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}

.search-engine button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn4 1s linear infinite ;
    animation-delay: 0.75s;
}

@keyframes btn4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}